/* Space out content a bit */
body {
  /* padding-top: 20px; */
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.input-group {
  padding: 5px 0;
}
form {
  padding: 10px;
}
.input-group .control-description {
  background-color: #eee;
}
.input-group .for-input {
  background-color: #fff;
}

/* logoType */
.logotype {
  position: relative;
  width: 280px;
}
/*.logotype::before{
  content: 'TCAA';
  position: absolute;
  font-family: "Times New Roman", Times;
  top: -3px;
  font-size: 11px;
}*/
.logotype a {
  text-decoration: none;
}
.ad-artist, .ad-directory {
  font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 24px;
}
.ad-artist {
  color: #Ef3E43;
}
.ad-directory {
  color: #0056A5;
}

button.btn.btn-primary {
  margin-bottom: 8px;
}

.preview-profile-url {
  min-height: 125px;
  height: 125px;
  line-height: 125px;
  position: relative;
  text-align: center;
}

img.small-profile-image {
  max-height: 125px;
  vertical-align: center;
}

img.full-profile-image {
  max-height: 300px;
}

p.artist-artist-bio {
    display: block;
    height: 72px;
    overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.onoffswitch {
    position: relative; width: 136px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px;
    padding-left: 36px;
    line-height: 36px;
    border: 2px solid;
    background-color: #f0ad4e;
    border-color: #eea236;
    border-radius: 4px;
    transition: background-color 0.3s ease-in;
    color: #FFF;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    position: absolute; top: 0; bottom: 0;
    right: 100px;
    border: 2px solid;
    border-radius: 4px;
    border: 2px solid;
    background-color: hsla(35,84%,80%,1);
    border-color: #eea236;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  background-color: hsla(120,39%,70%,1);
  border-color: #4cae4c;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

h3.artist-biz-name {
    display: block;
    clear: right;
    height: 17px;
    overflow: auto;
}

h4.artist-name {
    display: block;
    clear: right;
    height: 15px;
    overflow: auto;
    margin: 0;
}

span.artist-web-site {
    display: block;
    clear: right;
    height: 16px;
    margin: 0;
    padding: 0;
}

span.artist-phone {
    display: block;
    clear: right;
    height: 34px;
    margin: 0;
}

.artist-media h5 {
    margin-bottom: 2px;
}

hr {
  margin: 6px auto;
}
